<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @meeting.location %>
</p>

<p>
  <strong>Host:</strong>
  <%= @meeting.host %>
</p>

<p>
  <strong>Time:</strong>
  <%= @meeting.time %>
</p>

<h2>Import User List</h2>
<%= form_tag  import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= hidden_field_tag :meeting_id, @meeting.id %>
  <%= submit_tag "Import" %>
<% end %>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
